
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    padding-right: 3px;
    color: rgb(0, 0, 0);
}

.card-text.card-text-name {
    clear: both;
    margin-top: .5em;
    font-size: 16px;
    font-weight: 700;
    color: rgba(41, 63, 236, 0.85);
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 18rem;
    margin: 20px auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.price {
    font-size: 18px;
}

.price-no {
    font-size: 18px;
    text-decoration: line-through;
}

.buy {
    margin-right: 10px;
}
.table td {
    vertical-align: middle;
}

.page-item > * {
    border: none;
}

.list_price{
    font-size: 14px;
}
.content {
    min-height: calc(100vh - 70px);
}
.footer {
    height: 50px;
}
